*.swp
*.swo
*.stamp
/configure.mk
/build/cctools/cctools/configure
/build/cctools/cctools/config.guess
/build/cctools/cctools/config.sub
/build/cctools/cctools/**/Makefile.in
/build/cctools/cctools/INSTALL
/build/cctools/cctools/aclocal.m4
/build/cctools/cctools/autom4te.cache
/build/cctools/cctools/compile
/build/cctools/cctools/depcomp
/build/cctools/cctools/install-sh
/build/cctools/cctools/m4
/build/cctools/cctools/missing
/build/cctools/cctools/ltmain.sh
/build/cctools/cctools/**/*.o
/build/cctools/cctools/**/*.lo
/build/cctools/cctools/**/*.la
/build/cctools/cctools/**/Makefile


build/cctools/cctools/ar/.deps/
build/cctools/cctools/ar/ar
build/cctools/cctools/as/.deps/
build/cctools/cctools/as/arm/.deps/
build/cctools/cctools/as/arm/Makefile
build/cctools/cctools/as/arm/arm-as
build/cctools/cctools/as/as
build/cctools/cctools/as/i386/.deps/
build/cctools/cctools/as/i386/Makefile
build/cctools/cctools/as/i386/i386-as
build/cctools/cctools/as/ppc/.deps/
build/cctools/cctools/as/ppc/Makefile
build/cctools/cctools/as/ppc/ppc-as
build/cctools/cctools/as/ppc64/.deps/
build/cctools/cctools/as/ppc64/Makefile
build/cctools/cctools/as/ppc64/ppc64-as
build/cctools/cctools/as/x86_64/.deps/
build/cctools/cctools/as/x86_64/Makefile
build/cctools/cctools/as/x86_64/x86_64-as
build/cctools/cctools/config.log
build/cctools/cctools/config.status
build/cctools/cctools/ld/.deps/
build/cctools/cctools/ld64/Makefile
build/cctools/cctools/ld64/src/3rd/.deps/
build/cctools/cctools/ld64/src/3rd/.libs/
build/cctools/cctools/ld64/src/3rd/BlocksRuntime/.deps/
build/cctools/cctools/ld64/src/3rd/BlocksRuntime/.libs/
build/cctools/cctools/ld64/src/3rd/BlocksRuntime/Makefile
build/cctools/cctools/ld64/src/3rd/Makefile
build/cctools/cctools/ld64/src/Makefile
build/cctools/cctools/ld64/src/ld/.deps/
build/cctools/cctools/ld64/src/ld/Makefile
build/cctools/cctools/ld64/src/ld/ld
build/cctools/cctools/ld64/src/ld/parsers/.deps/
build/cctools/cctools/ld64/src/ld/parsers/.libs/
build/cctools/cctools/ld64/src/ld/parsers/Makefile
build/cctools/cctools/ld64/src/ld/passes/.deps/
build/cctools/cctools/ld64/src/ld/passes/.libs/
build/cctools/cctools/ld64/src/ld/passes/Makefile
build/cctools/cctools/ld64/src/other/.deps/
build/cctools/cctools/ld64/src/other/Makefile
build/cctools/cctools/ld64/src/other/ObjectDump
build/cctools/cctools/ld64/src/other/dyldinfo
build/cctools/cctools/ld64/src/other/machochecker
build/cctools/cctools/ld64/src/other/unwinddump
build/cctools/cctools/libobjc2/.deps/
build/cctools/cctools/libobjc2/.libs/
build/cctools/cctools/libobjc2/Makefile
build/cctools/cctools/libstuff/.deps/
build/cctools/cctools/libstuff/.libs/
build/cctools/cctools/libtool
build/cctools/cctools/misc/.deps/
build/cctools/cctools/misc/checksyms
build/cctools/cctools/misc/codesign_allocate
build/cctools/cctools/misc/indr
build/cctools/cctools/misc/install_name_tool
build/cctools/cctools/misc/libtool
build/cctools/cctools/misc/lipo
build/cctools/cctools/misc/nm
build/cctools/cctools/misc/nmedit
build/cctools/cctools/misc/pagestuff
build/cctools/cctools/misc/ranlib
build/cctools/cctools/misc/redo_prebinding
build/cctools/cctools/misc/seg_addr_table
build/cctools/cctools/misc/seg_hack
build/cctools/cctools/misc/segedit
build/cctools/cctools/misc/size
build/cctools/cctools/misc/strings
build/cctools/cctools/misc/strip
build/cctools/cctools/otool/.deps/
build/cctools/cctools/otool/otool
build/iphonesdk-utils-2.0/Makefile.in
build/iphonesdk-utils-2.0/aclocal.m4
build/iphonesdk-utils-2.0/autom4te.cache/
build/iphonesdk-utils-2.0/clangwrapper/Makefile.in
build/iphonesdk-utils-2.0/compile
build/iphonesdk-utils-2.0/config.guess
build/iphonesdk-utils-2.0/config.h.in
build/iphonesdk-utils-2.0/config.sub
build/iphonesdk-utils-2.0/configure
build/iphonesdk-utils-2.0/createProject/Makefile.in
build/iphonesdk-utils-2.0/createProject/templates/Makefile.in
build/iphonesdk-utils-2.0/depcomp
build/iphonesdk-utils-2.0/genLocalization2/Makefile.in
build/iphonesdk-utils-2.0/install-sh
build/iphonesdk-utils-2.0/ldid/Makefile.in
build/iphonesdk-utils-2.0/libhelper/Makefile.in
build/iphonesdk-utils-2.0/libplutil/Makefile.in
build/iphonesdk-utils-2.0/ltmain.sh
build/iphonesdk-utils-2.0/m4/
build/iphonesdk-utils-2.0/missing
build/iphonesdk-utils-2.0/plutil/Makefile.in
build/iphonesdk-utils-2.0/pngcrush/Makefile.in
build/iphonesdk-utils-2.0/xcbuild/Makefile.in
build/iphonesdk-utils-2.0/Makefile
build/iphonesdk-utils-2.0/clangwrapper/.deps/
build/iphonesdk-utils-2.0/clangwrapper/Makefile
build/iphonesdk-utils-2.0/clangwrapper/ios-clang-wrapper
build/iphonesdk-utils-2.0/clangwrapper/ios_clang_wrapper-clangwrapper.o
build/iphonesdk-utils-2.0/config.h
build/iphonesdk-utils-2.0/config.log
build/iphonesdk-utils-2.0/config.status
build/iphonesdk-utils-2.0/createProject/Makefile
build/iphonesdk-utils-2.0/createProject/ios-createProject
build/iphonesdk-utils-2.0/createProject/templates/Application.template
build/iphonesdk-utils-2.0/createProject/templates/Command_line_utility.template
build/iphonesdk-utils-2.0/createProject/templates/Dynamic_Framework.template
build/iphonesdk-utils-2.0/createProject/templates/Dynamic_Library.template
build/iphonesdk-utils-2.0/createProject/templates/Example_Player.template
build/iphonesdk-utils-2.0/createProject/templates/Example_UICatalog.template
build/iphonesdk-utils-2.0/createProject/templates/Makefile
build/iphonesdk-utils-2.0/createProject/templates/Notification_Center_widget.template
build/iphonesdk-utils-2.0/createProject/templates/Static_Framework.template
build/iphonesdk-utils-2.0/createProject/templates/Static_Library.template
build/iphonesdk-utils-2.0/genLocalization2/.deps/
build/iphonesdk-utils-2.0/genLocalization2/Makefile
build/iphonesdk-utils-2.0/genLocalization2/ios-genLocalization
build/iphonesdk-utils-2.0/genLocalization2/ios_genLocalization-getLocalizedStringFromFile.o
build/iphonesdk-utils-2.0/genLocalization2/ios_genLocalization-main.o
build/iphonesdk-utils-2.0/ldid/.deps/
build/iphonesdk-utils-2.0/ldid/Makefile
build/iphonesdk-utils-2.0/ldid/ldid
build/iphonesdk-utils-2.0/ldid/ldid-ldid.o
build/iphonesdk-utils-2.0/ldid/ldid-lookup2.o
build/iphonesdk-utils-2.0/ldid/ldid-sha1.o
build/iphonesdk-utils-2.0/libhelper/.deps/
build/iphonesdk-utils-2.0/libhelper/.libs/
build/iphonesdk-utils-2.0/libhelper/Makefile
build/iphonesdk-utils-2.0/libhelper/libhelper.la
build/iphonesdk-utils-2.0/libhelper/libhelper_la-pathutil.lo
build/iphonesdk-utils-2.0/libhelper/libhelper_la-sdkutil.lo
build/iphonesdk-utils-2.0/libhelper/libhelper_la-stringutil.lo
build/iphonesdk-utils-2.0/libhelper/libhelper_la-xmlutil.lo
build/iphonesdk-utils-2.0/libplutil/.deps/
build/iphonesdk-utils-2.0/libplutil/.libs/
build/iphonesdk-utils-2.0/libplutil/Makefile
build/iphonesdk-utils-2.0/libplutil/libplutil.la
build/iphonesdk-utils-2.0/libplutil/libplutil_la-base64.lo
build/iphonesdk-utils-2.0/libplutil/libplutil_la-bplist.lo
build/iphonesdk-utils-2.0/libplutil/libplutil_la-bytearray.lo
build/iphonesdk-utils-2.0/libplutil/libplutil_la-hashtable.lo
build/iphonesdk-utils-2.0/libplutil/libplutil_la-iterator.lo
build/iphonesdk-utils-2.0/libplutil/libplutil_la-list.lo
build/iphonesdk-utils-2.0/libplutil/libplutil_la-node.lo
build/iphonesdk-utils-2.0/libplutil/libplutil_la-node_iterator.lo
build/iphonesdk-utils-2.0/libplutil/libplutil_la-node_list.lo
build/iphonesdk-utils-2.0/libplutil/libplutil_la-plist.lo
build/iphonesdk-utils-2.0/libplutil/libplutil_la-ptrarray.lo
build/iphonesdk-utils-2.0/libplutil/libplutil_la-xplist.lo
build/iphonesdk-utils-2.0/libtool
build/iphonesdk-utils-2.0/plutil/.deps/
build/iphonesdk-utils-2.0/plutil/Makefile
build/iphonesdk-utils-2.0/plutil/ios-plutil
build/iphonesdk-utils-2.0/plutil/ios_plutil-plutil.o
build/iphonesdk-utils-2.0/pngcrush/.deps/
build/iphonesdk-utils-2.0/pngcrush/Makefile
build/iphonesdk-utils-2.0/pngcrush/crush.o
build/iphonesdk-utils-2.0/pngcrush/decrush.o
build/iphonesdk-utils-2.0/pngcrush/ios-pngcrush
build/iphonesdk-utils-2.0/pngcrush/main.o
build/iphonesdk-utils-2.0/pngcrush/png.o
build/iphonesdk-utils-2.0/pngcrush/pngerror.o
build/iphonesdk-utils-2.0/pngcrush/pngget.o
build/iphonesdk-utils-2.0/pngcrush/pngmem.o
build/iphonesdk-utils-2.0/pngcrush/pngpread.o
build/iphonesdk-utils-2.0/pngcrush/pngread.o
build/iphonesdk-utils-2.0/pngcrush/pngrio.o
build/iphonesdk-utils-2.0/pngcrush/pngrtran.o
build/iphonesdk-utils-2.0/pngcrush/pngrutil.o
build/iphonesdk-utils-2.0/pngcrush/pngset.o
build/iphonesdk-utils-2.0/pngcrush/pngtrans.o
build/iphonesdk-utils-2.0/pngcrush/pngwio.o
build/iphonesdk-utils-2.0/pngcrush/pngwrite.o
build/iphonesdk-utils-2.0/pngcrush/pngwtran.o
build/iphonesdk-utils-2.0/pngcrush/pngwutil.o
build/iphonesdk-utils-2.0/stamp-h1
build/iphonesdk-utils-2.0/xcbuild/.deps/
build/iphonesdk-utils-2.0/xcbuild/Makefile
build/iphonesdk-utils-2.0/xcbuild/ios-xcbuild
build/iphonesdk-utils-2.0/xcbuild/lex.yy.o
build/iphonesdk-utils-2.0/xcbuild/pbxproj.o
build/iphonesdk-utils-2.0/xcbuild/pbxprojdef.o
build/iphonesdk-utils-2.0/xcbuild/xcbuild.o
