*.swp
*.swo
/configure.mk
/original/cctools-*/configure
/original/cctools-*/config.guess
/original/cctools-*/config.sub
/original/cctools-*/**/Makefile.in
/original/cctools-*/INSTALL
/original/cctools-*/aclocal.m4
/original/cctools-*/autom4te.cache
/original/cctools-*/compile
/original/cctools-*/depcomp
/original/cctools-*/install-sh
/original/cctools-*/m4
/original/cctools-*/missing
/original/cctools-*/ltmain.sh
/original/cctools-*/**/*.o
/original/cctools-*/**/*.lo
/original/cctools-*/**/*.la


